<!DOCTYPE html>
<html>
  <head>
    <title>Kintaikun(仮)</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
	<nav class="navbar navbar-light" style="background-color: #ff8e00;">
    <!-- 切り替えボタンの設定 -->
    <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
      Bootstrap
    </button>

    <!-- モーダルの設定 -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">管理者ログイン</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <p>tete</p>
          </div>

            <% if admin_signed_in? %>

            <div class="modal-footer">
              <%= link_to "ログアウト",destroy_admin_session_path, class:"btn btn-info", method: :delete %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>

          <% else %>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                <%= link_to "ログイン画面へ", new_admin_session_path,class:"btn btn-info" %>
            </div>

          <% end %>
        </div>

      </div>
    </div>
  <% if admin_signed_in? %>

    </div>
  </div>
  <ul class="nav">
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle text-secondary" role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">店舗メニュー</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <span class="dropdown-item"><%= link_to "店舗一覧", stores_path,class:"nav-link" %></span>
          <span class="dropdown-item"><%= link_to "店舗追加", new_store_path, class:"nav-link" %></span>
        </div></li><!-- ./dropdown-menu -->
    <li class="nav-item"><%= link_to "スタッフ追加", new_staff_path, class:"nav-link text-secondary" %></li>
    <li class="nav-item"><%= link_to "勤怠管理", new_staff_path, class:"nav-link text-secondary" %></li>
  </ul>

  <% end %>

</nav>

</header>

    <%= yield %>



<footer class="fixed-bottom" style="background-color:#ff8e00;">
<!-- <footer class="footer mt-5" style="background-color:#F8B856;"> -->
  <div class="container">
    <div class="row">
    	<span class="text-monospace align-baseline">QR Punch</span><!-- <br> -->
      <!-- デバッグ -->
      <!-- <div class="container">
        <%# if Rails.env.development?%>
          <%#= debug(params) %>
        <%# end %> -->
      <!-- </div> -->
    </div>
  </div>
</footer>
<!-- <script type="text/javascript"  src="javascripts/clock.js"></script> -->
<script>
	var time;
var clock = document.getElementById("clock")
function main() {
  time = new Date();
  clock.innerHTML = String(("0" + time.getHours()).slice(-2)+":"
    +("0" + time.getMinutes()).slice(-2)+":"
    +("0" + time.getSeconds()).slice(-2))
    .bold().fontsize(12);
  setTimeout(main, 1000-time.getMilliseconds());
}
main();

var today;
var day = document.getElementById("day")
var week = '日月火水木金土'[new Date().getDay()];
function sub() {
  today = new Date();
  day.innerHTML = String(today.getFullYear()+"年"
  +(today.getMonth()+1)+"月"
  +("0" + today.getDate()).slice(-2)+"日"
  +week+"曜日");
}
sub();
</script>
</body>
</html>







